# Library dependencies for Python code.  You need to install these with
# `pip install -r requirements.txt` or
# `conda install --file requirements.txt`
# to ensure that you can use all Snorkel code.
# NOTE: all essential packages must be placed under a section named
# '#### ESSENTIAL ...' so that the script `./scripts/check_requirements.py`
# can find them.

#### ESSENTIAL LIBRARIES

# General scientific computing
numpy==1.20.2
scipy==1.6.0

# Data storage and function application
pandas==1.1.5
tqdm==4.56.0

# Internal models
scikit-learn==0.22
torch>=1.2.0,<2.0.0
munkres>=1.0.6

# LF dependency learning
networkx==2.3

# Model introspection tools
tensorboard==2.4.1
